/************************************
			general
************************************/

* {
	box-sizing: border-box;
	margin: 0;
}

.right {
	float: right !important;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/************************************
			navbar
************************************/

#logo {
	height: 44px;
}

/* Navbar container */
.navbar {
	overflow: hidden;
	background-color: #3ba2fb;
}

/* Links inside the navbar */
.navbar a {
	float: left;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navlogo {
	padding: 4px !important;
}

.navitem {
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 18px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a darker background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: DodgerBlue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content input {
	float: none;
	color: black;
	background-color: inherit;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-width: 0;
	font-size: inherit;
	width: 100%;
	font-family: inherit;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover, .dropdown-content input:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

.navbar .icon {
	display: none;
}

/************************************
			content
************************************/

.content {
	width: 90%;
	min-height: 100px;
	margin: 1% 5%;
	padding: 5%;
	float: left;
	background-color: #f8f8f8;
	color: #3ba2fb;

}

.section {
	padding: 5%;
	float: left;
}

.section h1 {
	margin-bottom: 20px;
}

.section p {
	margin-bottom: 10px;
}

.toren {
	width: 80%;
	height: auto;
	float: right;
}

.dummyImage {
	max-height: 300px;
	max-width: 100%;
}

#map {
	display: inline;
	float: left;
	height: 400px;
	width: 100%;
	margin-bottom: 30px;
}

/*.submit {
	border: none;
	color: white;
	padding: 14px 28px;
	cursor: pointer;
	background-color: #3ba2fb;
	margin-top: 15px;
	border-radius: 5px;
}

.submit:hover {
	background: #0b7dda;
}

input, textarea, span {
	float: none;
	color: black;
	background-color: inherit;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-width: 0;
	font-size: inherit;
	width: 100%;
	font-family: inherit;
}

input:hover {
	background-color: #ddd;
}*/

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}

	.logo {
		display: none;
	}

	nav a {
		float: none;
		width: 100%;
		text-align: left;
		padding: 3% 7%;
	}

	.toren {
		width: 100%;
		height: auto;
	}
}
