* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

.fRight {
    float: right;
}

.form {
    background-color: #3ba2fb;
    padding: 20px;
    margin: auto;
    width: 70%;
    border-radius: 5px;
}

table {
    width: 100%;
}

h1, h3 {
    color: white;
}

label {
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    /*width: 100%;*/
    background-color: gainsboro;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #cbcbcb;
}

input.invalid {
     background-color: #ffbbbb;
}

#submit {
    display: none;
}

button {
     background-color: gainsboro;
     color: black;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

button.hover {
    opacity: 0.9;
}

.form a {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.form a:link {

    text-decoration: none;
}

.form a:visited {
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form a:active {
    text-decoration: underline;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tab {
    display: none;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #f9f9f9;
}